[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rd/gifski"]
	path = 3rd/gifski
	url = https://github.com/sindresorhus/Gifski/
[submodule "3rd/msgpack"]
	path = 3rd/msgpack
	url = https://github.com/msgpack/msgpack-c
