[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rd/gifski"]
	path = 3rd/gifski
	url = https://github.com/sindresorhus/Gifski/
[submodule "3rd/mpack"]
	path = 3rd/mpack
	url = https://github.com/ludocode/mpack
[submodule "3rd/googletest"]
	path = 3rd/googletest
	url = https://github.com/google/googletest.git
